<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<div class="container">
    <div class="row mb-3" style="margin: 10px; padding: 10px;">
        <div class="col-2"><img src="https://i.pinimg.com/originals/b5/e1/8a/b5e18a750e7a09e6aa6cc4fcff815903.jpg" alt="" srcset="" style="width: 140; height: inherit ;"></div>
        <div class="col-4 gy-5" style="left: 0%;">
            <a href="#" class="link-primary  h3"> name of the book</a>
            <div>
                <ul class="list-group-horizontal gy-2">
                    <li>
                        <i>AUTHOR</i> : author name
                    </li>
                    <li>
                        <i> COVER DESIGENER</i> : name
                    </li>

                </ul>
            </div>
        </div>
        <div class=" col-4 gy-4">
            <p class="text-info"> price : 100.00 Rs </p>
            other link are here
        </div>
    </div>
</div>