

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> 
        <img src="images/onuvuti-1.png" alt="Logo" width="360" height="150" class="d-inline-block align-text-top">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> Home <img src="images/house.svg" alt="home" ></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">নতুন বই </a>
          </li>
          <li class="nav-item dropdown">
         
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              রীতি
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">অ্যাকশন এবং অ্যাডভেঞ্চার</a></li>
            <li><a class="dropdown-item" href="#">কমেডি</a></li>
            <li><a class="dropdown-item" href="#">কাল্পনিক</a></li>
            <li><a class="dropdown-item" href="#">ভয়াবহতা</a></li>
            <li><a class="dropdown-item" href="#">রহস্য</a></li>
            <li><a class="dropdown-item" href="#">অপরাধ</a></li>
            <li><a class="dropdown-item" href="#">রোমান্স</a></li>
            <li><a class="dropdown-item" href="#">সায়েন্স ফিকশন</a></li>
            <li><a class="dropdown-item" href="#">থ্রিলার</a></li>
            <li><a class="dropdown-item" href="#">পশ্চিম</a></li>
            
          </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              লেখক
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"> Writer 1</a></li>
            <li><a class="dropdown-item" href="#"> Writer 2</a></li>
            <li><a class="dropdown-item" href="#"> Writer 3</a></li>
            <li><a class="dropdown-item" href="#"> Writer 4</a></li>
            <li><a class="dropdown-item" href="#"> more</a></li>
            </ul>
          </li>
          <li class="nev-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              আমাদের সংগ্রহ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">বাংলা সংগ্রহ</a></li>
            <li><a class="dropdown-item" href="#">ইংলিশ সংগ্রহ</a></li>
            <li><a class="dropdown-item" href="#">উপন্যাস  সংগ্রহ</a></li>
            <li><a class="dropdown-item" href="#">কবিতা  সংগ্রহ</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
        
            
             
      





<!-- <nav class="navbar navbar-expand-lg  " style="background-color: #e3f2fd;">
    <div class="container-fluid d-flex justify-content-around">
      <a class="navbar-brand" href="#">Navbar</a>
      
       
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
          </li>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">নতুন বই </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  রীতি
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">অ্যাকশন এবং অ্যাডভেঞ্চার</a></li>
                <li><a class="dropdown-item" href="#">কমেডি</a></li>
                <li><a class="dropdown-item" href="#">কাল্পনিক</a></li>
                <li><a class="dropdown-item" href="#">ভয়াবহতা</a></li>
                <li><a class="dropdown-item" href="#">রহস্য</a></li>
                <li><a class="dropdown-item" href="#">অপরাধ</a></li>
                <li><a class="dropdown-item" href="#">রোমান্স</a></li>
                <li><a class="dropdown-item" href="#">সায়েন্স ফিকশন</a></li>
                <li><a class="dropdown-item" href="#">থ্রিলার</a></li>
                <li><a class="dropdown-item" href="#">পশ্চিম</a></li>
                
              </ul>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      লেখক
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#"> Writer 1</a></li>
                    <li><a class="dropdown-item" href="#"> Writer 2</a></li>
                    <li><a class="dropdown-item" href="#"> Writer 3</a></li>
                    <li><a class="dropdown-item" href="#"> Writer 4</a></li>
                    <li><a class="dropdown-item" href="#"> more</a></li>
                    </ul>
        
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          আমাদের সংগ্রহ
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">বাংলা সংগ্রহ</a></li>
                        <li><a class="dropdown-item" href="#">ইংলিশ সংগ্রহ</a></li>
                        <li><a class="dropdown-item" href="#">উপন্যাস  সংগ্রহ</a></li>
                        <li><a class="dropdown-item" href="#">কবিতা  সংগ্রহ</a></li>
                        </ul>
            </li>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
   -->