<link rel="stylesheet" href="../../public/stylesheets/style.css">
<div class="container" style="width: 100%; overflow: hidden;" id="layout">
<div class="card-group ">
      <div class="img_box card">
        <img src="https://i.pinimg.com/originals/b5/e1/8a/b5e18a750e7a09e6aa6cc4fcff815903.jpg" alt="Avatar" class="image" style="width: 200;">
        <div class="overlay">
          <div class="text" ><p> aro ek doojon <br> shiboram chaterjee
          </p></div>
        </div>
    </div>

   
</div>
</div>
