<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-5" style="top: -200px;">

    <!-- <div class="row">
         <div class="col-4">
            <div class="row-gap-1">
                <img src="https://i.pinimg.com/originals/b5/e1/8a/b5e18a750e7a09e6aa6cc4fcff815903.jpg" alt="" srcset="">
            </div>
            <div class="row-gap-1 d-flex align-items-lg-start ">
               <div class="container-fluid">
                    <div class="col-5" style="left: 10px;">
                        <button  class="btn btn-dark" style="font-size:24px"><i class="fa fa-amazon" style="color: orange;"></i></button>
                    </div>
                   <div class="row-gap-1"><div class="col-5"></div>
                    <div class="col-5">
                        <button class="btn btn-primary"> <img src="/public/images/social.png" alt="" srcset="" style="width: 24px; height: 24px;"></button>
                    </div>
                   </div>
                </div>
         </div>
         <div class="col-8">

         </div>
    </div> -->
<div class="row ">
    <div class="col-4 " style="position: relative; left: -10%;" >
        <div class="row" style="margin-top: 50px; ">
            <img src="https://i.pinimg.com/originals/b5/e1/8a/b5e18a750e7a09e6aa6cc4fcff815903.jpg" alt="" srcset="" style="width: 65%; margin-left: 69px;">
        </div>
        <div  class="d-grid gap-2" style="  position: relative;margin-top: 20px;">
            <button  class="btn btn-dark" style="font-size:24px ;" ><i class="fa fa-amazon" style="color: orange;"></i></button>
            <button class="btn btn-primary"> <img src="/public/images/social.png" alt="" srcset="" style="width: 24px; height: 24px;"></button>
        </div>
    </div>
    <div class="col-8">
        Another of a dozen of Satyajit Ray\’s short story collection following Ek Dajon Gappo including three Feluda stories that I picked up from my collection this time for revisiting the wonders of Ray. The content and their briefs are as
1. Professor Hijibijbij is a tribute to Ray\’s father and to his fantastic creations depicted in Abol Tabol and Ha-Ja-Ba-Ra-La that were brought to life by the eccentric professor of the story. But the final paragraphs seem to warn the readers of the dangers of defying nature.
2. Fritz deals with the supernaturals with an ending to send the head reeling in awe.
3. Brown Saheber Bungalow is a ghost story with an unique twist at the climax.
4. Sadanander Khude Jagat is written from the perspective of a child who could hear the ants’ voices.
5. Khagam is another spine chilling horror story of a saint who loved snakes and his pet one in particular.
6. Ratanbabau aar Shei Lokta is a queer story in which a lonely traveller meets a man who seemed to be his carbon copy in both appearance and nature. But though in one hand Ratanbabu seemed to get his right mate but the resemblence seemed to be getting discomfortingly painful which drove him to commit a murder and bear the consequence that was beyond his wildest dreams.
7. Bhakta is the most fascinating of the stories in which again resemblance plays the central role and an ordinary holidaying man finds himself trapped in the fan-circle of a renowned writer.
8. Batikbabu is another of Ray’s wonderful creation where obsession to a queer hobby drives a person to sheer madness.
9. Barin Bhoumiker Beram is one of Ray’s excellent pieces where the ultimate twist is in the final few lines.
10. Sheyal Debota Rahasya introduces Feluda to the case of an antique thief which he solves with his naturally sharp intellect.
11. Samaddarer Chaabi sets Feluda to a treasure hunt based on the queer few words which the dead man utters moments before his death. But villains prowl behind the shadows and it is to be seen how Feluda manages to catch them while recovering the treasure. Curiously, this story is devoid of any picture while the previous one had two sketches to the credit.
12. Ghurghutiar Ghatana is yet another case with Feluda solving a riddle to open a combination lock but the revelation of the vilest mind is again exposed by his quick wit. As in the previous two, this story was also written before Sonar Kella and so no Lalmohanbabu is there for a comic relief though the modulated pace of the story never seemed to need one.
http://anirb
    </div>
</div>

</div>